/** @format */

body {
  /* width: 100%; */ /* 无需指定宽度，宽度默认全屏，指定了也没用 */
  /* height: 100%; */ /* 高度不能用 100%，没用 */
  height: 100vh;
  margin: 0;
}

#app {
  height: 100%; /* 在 body 用 vh 指定了高度的情况下，100% 就有效了！ */
}

/*去掉 ul 的 margin 和 padding*/
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
}

/* 整体滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 滚动条的宽度 */
  background-color: transparent; /* 滚动条的背景色 */
}

/* 滚动条内部的滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgb(190, 186, 186); /* 滑块的颜色 */
  border-radius: 10px; /* 滑块的圆角 */
}

/* 滑块hover效果 */
::-webkit-scrollbar-thumb:hover {
  background: rgb(225, 225, 233);
  cursor: pointer; /* 这个小手不会呈现！ */
}
